<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a class="fb-anchor" href="https://www.facebook.com/profile.php?id=61555061544690" target="_main">
                <i class="fab fa-facebook" style="color: white;" ></i>
            </a>

            <a class="ig-anchor" href="https://www.instagram.com/programmer__19/" target="_main">
                <i class="fa-brands fa-instagram" style="color: white;"></i>
            </a>

            <a class="linkdin-anchor" href="https://www.linkedin.com/in/akshatnayal/" target="_main">
                <i class="fa-brands fa-linkedin-in" style="color: white; padding-top: 0.3rem;" ></i>
            </a>

           
        </div>
        <div> &copy;Programmer's Array Private Limited !Space</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>